@import "src/styles/--breakpoint";
@import "src/styles/--colors";

  .work-nav {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    @include down_sm{
      flex-wrap: wrap;
      justify-content: start;
      &__nav-item {
        font-size: 13px !important;
      }
    }
    &__nav-item {
      list-style: none;
      padding: 0px 10px;
      font-size: 14px;
      font-weight: 400;
      color: var(--subtitle-color);
      cursor: pointer;
      
      &:hover {
        color: #cd72ff;
      }
      &.active{
        color: #cd72ff;
      }
    }
  }



.project_list{
  //display: flex;
  //display: none;
  .col-12{
    transition: all .4s ease;
  }
  margin: 50px 0px;
  
  .work-image{
    transition: all 1s ease-in-out;
    display: flex;
  }
}

.tools-uses{
  display: -moz-box;
  display: flex;
  margin-top: 5px;
  -moz-box-pack: center;
  justify-content: center;
  flex-wrap: wrap;
}

//.slow-scroll{
//  transition: all 5s ease-out;
//}

.photo-gallery__modal{
  top: 10px !important;
  border-radius: 5px;
  //width: 1300px;
  margin: auto;
}
.modal-photo_gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .modal-photo_gallery__item{
    width: 376px;
    margin: 5px;
    img{
      width: 100%;
    }
  }
}
.modal-photo_gallery__wrapper{
  height: 90vh;
  overflow-y: auto;
}
.project-link{
  width: 13px;
}