@import "src/styles/--breakpoint";


.sm-center {
  @include getDown(768px){
    display: flex;
    justify-content: center;
    margin: auto;
  }
}


  //min-height: 60vh;
  
  .about-me-content {
    margin-top: 50px;
    @include getDown(768px){
      //flex-wrap: wrap;
      //display: block;
      &::after {  // way two parent float element
        content: "";
        clear: both;
        display: table;
      }
    }
    
    //.cover-photo {
    //  max-width: 220px !important;
    //  @include getDown(768px){
    //    max-width: 100% !important;
    //    text-align: center;
    //  }
    //  //width: 600px;
    //  @include getDown(768px){
    //    margin-bottom: 15px;
    //  }
    //
    //
    //  //max-width: 70% !important;
    //  //flex-grow: .5;
    //
    //  img{
    //    box-shadow: var(--card-shadow);
    //    border-radius: 6px;
    //    min-width: 230px;
    //    max-width: 300px;
    //  }
    //
    //}
    
    .about-me-desc-para {
      padding-right: 10px;
      @include getDown(520px){
        //width: 100% !important;
        //padding: 0 !important;
        text-align: start;
      }
      @include getDown(768px){
        padding: 0;
        //min-width: 50%;
      }
      
      .about_me_description{
        white-space: pre-wrap;
      }
      
      h4 {
        color: var(--title-color);
        font-size: 16px;
        font-weight: 500;
      }
      
      p {
        margin-top: 8px;
        font-size: 14px;
        color: var(--para-color);
      }
    }
    
    .about-me-information{
      @include getDown(560px){
        margin-top: 0px;
        float: right !important;
      }
      @include getDown(520px){
        text-align: start;
        padding: 0;
        margin-top: 20px;
        .property{
          //min-width: 100px !important;
        }
        .social{
          display: flex;
          justify-content: center;
        }
      }
      
      @include getDown(768px){
        padding: 0;
        margin-top: 0px;
        float: right;
        .property{
          min-width: 75px !important;
        }
      }
      
      .right{
        
        li{
          list-style: none;
          display: flex;
          flex-wrap: nowrap;
          margin: 4px 0px;
          .property{
            font-weight: 400;
            min-width: 100px;
            display: inline-block;
            font-size: 14px;
            color: var(--title-color);
          }
          .value{
            font-size: 14px;
            color: var(--para-color);
          }
        }
      }
    }
    
    
  
  
  
}



.cover-photo {
  max-width: 250px !important;
}

.card.experience{
  .education-body {
    .education-details {
    }
  }
}
.line-top-icon{
  font-size: 25px;
  color: var(--color-primary);
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 1;
  font-style: normal;
  -webkit-font-feature-settings: normal;
  -moz-font-feature-settings: normal;
  font-feature-settings: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.card.education{
  position: relative;
  border-radius: 5px;
  padding: 10px 20px;
  .education-body {
    .education-details {
      padding-left: 5.2rem;
      h4 {
        color: var(--title-color);
        padding: 10px 0px;
      }
    }
    .line{
      position: absolute;
      width: 1.5px;
      background-color: var(--color-primary);
      top: 30px;
      bottom: 30px;
      left: 34px;
      margin-top: 17px;
    }
  }
}


.card.about-me{
  padding: 10px 20px;
  border-radius: 9px;
}


.card.experience{
  .education-body {
    .education-details {
    }
  }
}

.line-top-icon{
  font-size: 25px;
  color: var(--color-primary);
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 1;
  font-style: normal;
  -webkit-font-feature-settings: normal;
  -moz-font-feature-settings: normal;
  font-feature-settings: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.card.education{
  position: relative;
  border-radius: 5px;
  padding: 10px 20px;
  .education-body {
    .education-details {
      
      //&:before{
      //  content: "";
      //  font-family: 'Font Awesome 5 Pro';
      //  font-weight: 300;
      //  font-size: 25px;
      //  color: var(--color-primary);
      //  position: absolute;
      //  left: 20px;
      //  top: 20px;
      //  z-index: 1;
      //  //background: #fff;
      //  font-style: normal;
      //  font-variant: normal;
      //  text-rendering: auto;
      //  -webkit-font-smoothing: antialiased;
      //};
      padding-left: 5.2rem;
      //padding: 0 30px;
      h4 {
        color: var(--title-color);
        padding: 10px 0px;
      }
    }
    .line{
      position: absolute;
      width: 1.5px;
      background-color: var(--color-primary);
      top: 30px;
      bottom: 30px;
      left: 34px;
      margin-top: 17px;
    }
  }
}