
@import "src/styles/--breakpoint";

.modal{
  position: fixed;
  width: 60%;
  background: white;
  z-index: 151;
  box-shadow: var(--modal-shadow);
  
  left: 50%;
  transform: translateX(-50%);
  top: 30%;
  padding: 10px 0px;
  
  @include getDown(520px){
    width: 90%;
  }
  
  .model-header{
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    .modal-title{
      color: var(--title-color);
    }
    .model-close-btn{
    
    }
  }
  .model-content{
    padding: 0 10px;
  }
}
.full-modal{
  width: 100%;
  z-index: 151;
  top: 0;
  height: 100vh;
  overflow: scroll;
}