// add to cart flying animation
//@import "src/scss/index";

//.flying{
//  transition: all 1s ease;
//  transform: scale(0);
//  position: absolute;
//  animation: fly 1s ease;
//  z-index: 1005;
//  @include inline-animation(1s, 1){
//    0% {
//      transform: rotate(-120deg);
//      opacity: 1;
//    }
//    60% {
//      transform: rotate(-45deg);
//      opacity: 1;
//    }
//    100% {
//      transform: rotate(0deg) scale(0);
//      width: 10px;
//      height: 10px;
//      opacity: 0;
//    }
//  }
//}



@mixin inline-animation($duration, $count) {
  $name: inline-#{unique-id()};
  @keyframes #{$name} {
    @content
  }
  animation-name: $name;
  animation-duration: $duration;
  animation-iteration-count: $count;
}

@mixin inline-animation-linear($duration, $count) {
  $name: inline-#{unique-id()};
  @keyframes #{$name} {
    @content
  }
  animation-timing-function: linear;
  animation-name: $name;
  animation-duration: $duration;
  animation-iteration-count: $count;
}
