

//. Sass Media Queries...........
$HD-width : 1200px;
$desktop-width : 1024px;
$tablet-width : 768px;
$mobile-width : 576px;


@mixin getDown($width) {
  @media (max-width : #{$width}) {
    @content;
  }
}

//  break point up as pass width
@mixin getUp($width) {
  @media (max-width : #{$width}) {
    @content;
  }
}

@mixin down_sm{
  @media (max-width: #{$mobile-width - 1}){
    @content;
  }
}

@mixin down_md{
  @media (max-width: #{$tablet-width - 1}){
    @content;
  }
}

@mixin down_lg{
  @media (max-width: #{$desktop-width - 1}){
    @content;
  }
}

@mixin down_xl {
  @media (max-width: #{$HD-width - 1}){
    @content;
  }
}

@mixin up_xs{
  @media (min-width: #{$mobile-width}){
    @content;
  }
}
@mixin up_sm{
  @media (min-width: #{$tablet-width}){
    @content;
  }
}

@mixin up_md{
  @media (min-width: #{$desktop-width + 1}){
    @content;
  }
}

@mixin up_lg{
  @media (min-width: #{$HD-width + 1}){
    @content;
  }
}
