

  .service_section__title{
    color: #5896ff;
    display: block;
    padding-top: 14px;
  }
  li{
    list-style: none;
    font-size: 14px;
    text-align: center;
    color: dimgrey;
    font-weight: 400;
  }
  
  .services-content {
    .service {
      padding: 15px 10px;
      transition: all .4s ease;
      border-radius: 5px;
      //&:hover{
      //  -webkit-transform: translateY(-5px);
      //  -ms-transform: translateY(-5px);
      //  -o-transform: translateY(-5px);
      //  transform: translateY(-5px);
      //  -webkit-box-shadow: 0 18px 24px rgb(0 0 0 / 15%);
      //  -moz-box-shadow: 0 18px 24px rgba(0,0,0,.15);
      //  -o-box-shadow: 0 18px 24px rgba(0,0,0,.15);
      //  box-shadow: 0 18px 24px rgb(0 0 0 / 15%);
      //}
      
      .service-img {
        max-width: 70px;
        margin: auto;
        
        img {
          width: 100%;
        }
        i{
          font-size: 50px;
          color: var(--color-primary);
          //font-weight: bold;
        }
      }
      
      h4 {
        font-weight: 400;
        text-align: center;
        padding: 10px 0px;
        color: var(--title-color);
      }
      
      p {
        font-weight: 300;
        font-size: 14px;
        text-align: center;
        color: var(--para-color);
        //color: #575757;
      }
      .service_section {
        li {
          list-style: none;
          color: var(--para-color);
        }
      }
    }
    
  }
