@import "src/styles/--breakpoint";

.footer{
  background: var(--footer-bg);
  @include getDown(520px){
    flex-direction: column;
    h4{
      font-size: 13px !important;
    }
    .fa-pen{
      font-size: 14px;
    }
  }
  h4 {
    font-weight: 400;
    font-size: 15px;
    color: white;
    //padding: 20px 0px;
  }
  .fa-pen{
    color: deeppink;
    cursor: pointer;
  }
}

