.badge{
  font-size: 11px;
  color: white;
  border-radius: 3px;
  padding: 1px 5px;
  margin: 2px 3px;
  width: max-content;
}

.badge-primary{
  color: white;
  background: var(--color-primary);
}
.badge-info{
  color: white;
  background: #9c27b0
}
