@import "src/styles/--breakpoint";


.contact-form-wrapper-row {
    
    @include getDown(600px){
      display: block;
    }
    
    .social-contact {
      background-image: url(/static/upload/map_bg.svg);
      background-repeat: no-repeat;
      background-size: 282px 192px;
      background-position: 0px 0px;
      &__item {
        display: flex;
        align-items: center;
        margin: 10px 0px;
        &:nth-child(1){
          margin-top: 5px;
        }
        .icon {
          margin-right: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          .mail-icon{
            //width: 45px;
          }
          
          i {
            font-size: 20px;
            color: var(--color-primary);
            //min-width: 90px;
            text-align: center;
          }
        }
        
        .label {
          min-width: 10px;
          font-size: 1.6rem;
          font-weight: 500;
          display: flex;
          color: var(--subtitle-color);
        }
      }
      
      .social-contact__item {
        margin: 20px 0;
        &:nth-child(1){
          margin-bottom: 40px;
        }
        .icon{
          img{
            width: 22px;
          }
        }
        .contact-value{
          font-size: 14px;
          color: #4b4b4b;
          font-weight: 400;
          a{
            color: var(--color-primary);
          }
        }
        .social_icon {
          margin-left: 0;
          i {
            margin: 5px;
            font-size: 18px;
            color: var(--color-primary);
            cursor: pointer;
            &:nth-child(1){
              margin-left:0;
            }
          }
        }
      }
    }
    
    .contact-form {
    
    }
  }

.visitor-row--wrapper {
  color: var(--white);
  background-color: #3f71ff;
  background-image: -webkit-linear-gradient(
      134deg, #0959e2 0, #72a7ff);
  border-radius: 0.35rem;
  border: 0;
  padding: 20px 10px;
  margin-top: 40px;
  width: 100%;
  
  .visitor-text {
    margin: 0;
    padding: 0;
    font-size:  3.0rem;
    font-weight: 500;
    @include down_sm{
      font-size:  2.2rem;
      padding: 5px 5px;
    }
  }
  
  .visitor-row {
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    
    .visit_box {
      @include down_sm{
        min-width: 140px !important;
      }
      min-width: 180px;
      display: block;
      margin: 10px;
      border-radius: 5px;
      padding: 15px 25px;
      text-align: center;
      border: 1px solid  #dddddd54;
      
      .count-title {
        font-size: 18px;
      }
      
      .count {
        font-size: 30px;
        color: var(--hero-title-color);
      }
    }
  }
}