.comment_form {
  display: flex;
  padding: 10px 0px;
  margin-bottom: 10px;
  //width: 100% !important;
}

.comment_form {
  .user-avatar {
    margin-right: 6px;
    align-self: center;
  }
}

.comment_form {
  position: relative;
  margin-left: 25px;
  width: 98%;
  img {
    position: absolute;
    left: -30px;
    top: 10px;
    width: 25px;
    border-radius: 100%;
    vertical-align: middle;
  }
  
  .comment_form__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    
    .form-group {
      box-sizing: border-box;
      &.name{
        padding: 0px;
        margin: 0;
        input{
          margin: 0;
          padding: 4px 10px;
        }
      }
      &.textarea{
        textarea{
          min-height: 50px;
          padding: 0 10px;
        }
      }
      
      input, textarea {
        box-sizing: border-box;
        outline: none;
        width: 100%;
        border-radius: 4px;
        background: rgba(245, 245, 245, 0.8);
        color: #959595;
        padding: 8px;
        border: 1px solid #8282821a;
        font-family: Poppins, serif;
        transition: all .5s ease;
        display: block;
        
        &:hover, &:focus {
          border-color: #ffbce0e8;
        }
      }
      
      textarea {
        min-height: 150px;
      }
      
      margin: 8px 0px;
    }
    
    .post-comment-btn{
      width: max-content;
      box-sizing: border-box;
      outline: none;
      border-radius: 3px;
      background: rgba(245, 245, 245, 0.8);
      color: #1c1c1c;
      border: 1px solid #8282821a;
      font-family: Poppins, serif;
      transition: all .5s ease;
      display: block;
        cursor: pointer;
      &:hover{
        background: deeppink;
        color: white;
      }
    }
    
  }
}


.comment_form .form .form__imoji .btn-reset {
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  list-style: none;
}