
.comment_wrapper{
  /* border: 1px solid rgba(121, 121, 121, 0.267); */
  font-size: 13px;
  margin: 0;
  box-sizing: border-box;
  padding: 10px 10px;
  list-style: none;
}


.comment{
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.commenter_avatar{
  align-self: self-start;
  width: 22px;
}
.commenter_avatar img{
  width: 100%;
  border-radius: 100%;
}
.comment_content{
  margin-left: 6px;
  width: 100%;
  display: flex;
  flex-direction: column
}

.comment_text{
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background: #afafaf2e;
}

.commenter_username{}

.commenter_username a{
  text-decoration: none;
  font-family: Poppins, serif
}
.comment_description{
  padding: 0px 0px
}

.comment_meta{
  display: flex;
  list-style: none;
  padding-left: 10px;
  margin-top: 3px;
  font-size: 12px;
}
.comment_meta li{
  margin-right: 10px;
  font-family: Poppins, serif
}

.nested_replay{
  user-select: none;
  cursor: pointer;
}

.comment_nested_one{
  display: flex;
}

.nested_comment{
  display: flex;
  flex-direction: column;
}